## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config1 import g_key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
weather_city_df = pd.read_csv(r"../Weather_Database/WeatherPy_database.csv")
weather_city_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Bambous Virieux,-20.3428,57.7575,79.21,83,75,9.22,MU,2021-12-02 18:25:44,light rain
1,1,Rikitea,-23.1203,-134.9692,76.23,75,8,18.16,PF,2021-12-02 18:25:45,clear sky
2,2,Yulara,-25.2406,130.9889,73.24,28,2,5.75,AU,2021-12-02 18:25:46,clear sky
3,3,Abu Dhabi,24.4667,54.3667,75.96,69,0,3.44,AE,2021-12-02 18:25:47,clear sky
4,4,Atuona,-9.8000,-139.0333,78.44,78,92,21.43,PF,2021-12-02 18:25:47,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
#query_min = weather_city_df["Max Temp"]>= min_temp
#query_max = weather_city_df["Max Temp"]<= max_temp



preferred_cities_df = weather_city_df.loc[(weather_city_df["Max Temp"] <= max_temp) & (weather_city_df["Max Temp"] >= min_temp)] 
                                    
preferred_cities_df.head(10)
#vac_city_df = weather_city_df[query_min & query_max]

#len(vac_city_df)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Bambous Virieux,-20.3428,57.7575,79.21,83,75,9.22,MU,2021-12-02 18:25:44,light rain
1,1,Rikitea,-23.1203,-134.9692,76.23,75,8,18.16,PF,2021-12-02 18:25:45,clear sky
2,2,Yulara,-25.2406,130.9889,73.24,28,2,5.75,AU,2021-12-02 18:25:46,clear sky
3,3,Abu Dhabi,24.4667,54.3667,75.96,69,0,3.44,AE,2021-12-02 18:25:47,clear sky
4,4,Atuona,-9.8000,-139.0333,78.44,78,92,21.43,PF,2021-12-02 18:25:47,light rain
5,5,Filingue,14.3521,3.3168,85.35,13,17,7.40,NE,2021-12-02 18:25:48,few clouds
7,7,Cabedelo,-6.9811,-34.8339,88.47,65,100,12.06,BR,2021-12-02 18:25:49,overcast clouds
12,12,Alyangula,-13.8483,136.4192,76.87,100,99,1.14,AU,2021-12-02 18:25:52,overcast clouds
13,13,Sulangan,11.1373,123.7228,81.25,78,97,23.87,PH,2021-12-02 18:25:53,overcast clouds
19,19,Puerto Ayora,-0.7393,-90.3518,76.96,79,52,10.56,EC,2021-12-02 18:25:58,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Bambous Virieux,-20.3428,57.7575,79.21,83,75,9.22,MU,2021-12-02 18:25:44,light rain
1,1,Rikitea,-23.1203,-134.9692,76.23,75,8,18.16,PF,2021-12-02 18:25:45,clear sky
2,2,Yulara,-25.2406,130.9889,73.24,28,2,5.75,AU,2021-12-02 18:25:46,clear sky
3,3,Abu Dhabi,24.4667,54.3667,75.96,69,0,3.44,AE,2021-12-02 18:25:47,clear sky
4,4,Atuona,-9.8000,-139.0333,78.44,78,92,21.43,PF,2021-12-02 18:25:47,light rain
...,...,...,...,...,...,...,...,...,...,...,...
660,660,Kailua,21.4022,-157.7394,80.08,85,20,3.44,US,2021-12-02 18:42:01,few clouds
662,662,Sal Rei,16.1833,-22.9167,75.40,60,75,18.41,CV,2021-12-02 18:44:50,broken clouds
665,665,Dingle,10.9995,122.6711,74.23,91,100,8.46,PH,2021-12-02 18:41:12,overcast clouds
666,666,Bacolod,10.6667,122.9500,76.84,88,97,11.79,PH,2021-12-02 18:44:51,overcast clouds
667,667,Maiduguri,11.8464,13.1603,76.39,23,28,9.37,NG,2021-12-02 18:44:52,scattered clouds

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
vac_city_df = preferred_cities_df.dropna()

vac_city_df.count()

City_ID                306
City                   306
Lat                    306
Lng                    306
Max Temp               306
Humidity               306
Cloudiness             306
Wind Speed             306
Country                306
Date                   306
Current Description    306
dtype: int64

In [33]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = vac_city_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
#hotel_df = hotel_df.reset_index(drop = True)
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bambous Virieux,MU,79.21,light rain,-20.3428,57.7575,
1,Rikitea,PF,76.23,clear sky,-23.1203,-134.9692,
2,Yulara,AU,73.24,clear sky,-25.2406,130.9889,
3,Abu Dhabi,AE,75.96,clear sky,24.4667,54.3667,
4,Atuona,PF,78.44,light rain,-9.8000,-139.0333,
5,Filingue,NE,85.35,few clouds,14.3521,3.3168,
7,Cabedelo,BR,88.47,overcast clouds,-6.9811,-34.8339,
12,Alyangula,AU,76.87,overcast clouds,-13.8483,136.4192,
13,Sulangan,PH,81.25,overcast clouds,11.1373,123.7228,
19,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,

In [35]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # print(row['City'], row['Country'])

    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng'] 
    params["location"] = f"{lat}, {lng}" 
    # print(params)
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
# 7. Drop the rows where there is no Hotel Name.

hotel_df = hotel_df.dropna()
hotel_df = hotel_df.reset_index(drop = True)

In [42]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [43]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt></dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [44]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))